{% assign author_name = include.author | replace: " ", "_" | downcase %}
{% assign author_object = site.data.authors[author_name] %}

{% if author_object %}
<div class="flex items-center mb-3 last:mb-0">
  {% if author_object.image %}
    <img height="48" width="48" class="rounded-full border-white border-2" src="{{ author_object.image | relative_url }}" alt="{{ author_object.name }}"/>
  {% endif %}
  <div>
    <span class="font-medium text-sm ml-1 block">{{ author_object.name }}</span>
    <a class="text-sm ml-1 block text-green-400" href="https://www.twitter.com/{{ author_object.twitter }}">{{ author_object.twitter }}</a>
  </div>
</div>
{% endif %}