{% assign author_name = include.author | replace: " ", "_" | downcase %}
{% assign author_object = site.data.authors[author_name] %}

{% if author_object %}
<div class="flex items-start mb-3 space-x-2 last:mb-0">
  {% if author_object.image %}
    <img height="48" width="48" class="border-2 border-white rounded-full" src="{{ author_object.image | relative_url }}" alt="{{ author_object.name }}"/>
  {% endif %}
  <div class="flex flex-col space-y-2">
    <span class="block ml-1 text-sm font-medium">{{ author_object.name }}</span>
    <a class="block ml-1 text-sm text-yellow-500" href="https://www.twitter.com/{{ author_object.twitter }}">{{ author_object.twitter }}</a>
    {% include icons.html %}
  </div>
</div>
{% endif %}