{% assign author_name = include.author | replace: " ", "_" | downcase %}
{% assign show_author_name = include.show_author_name %}
{% assign author_object = site.data.authors[author_name] %}
{% assign style = include.style | default: 'inline' %}
{% assign size = include.size %}

<div class="flex items-center mr-2 -ml-4">
  {% if author_object.image %}
    <img class="{% if size == " large" %}h-12 w-12{% else %}h-7 w-7{% endif %} rounded-full border-white border-2" src="{{ author_object.image | relative_url }}" alt="{{ author_object.name }}"/>
  {% endif %}

  {% if show_author_name %}
    <span class="font-medium {% if size==" large" %}text{% else %}text-sm{% endif %} ml-1">{{ author_object.name
    }}</span>
    <span class="font-medium {% if size==" large" %}text{% else %}text-sm{% endif %} ml-1">{{ author_object.twitter
    }}</span>
  {% endif %}
</div>