<div id="subscribe" class="container mx-auto max-w-screen-xl ">
        <div class="flex flex-col sm:flex-row justify-between items-center bg-yellow-500 shadow-lg rounded-2xl py-6 md:py-4 px-6 md:pr-5 space-y-4 md:space-y-0 md:space-x-8">
                <div class="flex-none items-center text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                              </svg>
                </div>
                <p class="items-center text-white text-lg font-medium">Únase a mi lista de correo para recibir ocasionalmente mis artículos.</p>
                
                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                        <form
                                action="https://arielcerda.us18.list-manage.com/subscribe/post?u=9251d9deccc6863333a4ee019&amp;id=a0f39a7fed"
                                method="post"
                                id="mc-embedded-subscribe-form"
                                name="mc-embedded-subscribe-form"
                                class="validate"
                                target="_blank"
                                novalidate
                        >
                                <div class="flex sm:flex-row" id="mc_embed_signup_scroll">
                                        <div class="mc-field-group">
                                                <input type="email" value="" name="EMAIL" class="required email rounded-l-lg p-4 mr-0 text-gray-800 bg-white" id="mce-EMAIL" />
                                        </div>
                                        <div id="mce-responses" class="clear">
                                                <div class="response" id="mce-error-response" style="display: none;"></div>
                                                <div class="response" id="mce-success-response" style="display: none;"></div>
                                        </div>
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px; hidden" aria-hidden="true"><input type="text" name="b_9251d9deccc6863333a4ee019_a0f39a7fed" tabindex="-1" value="" /></div>
                                        <div class="clear">
                                                <input type="submit" value="Suscribete" name="subscribe" id="mc-embedded-subscribe" class="px-8 rounded-r-lg bg-gray-800 text-gray-100 font-bold p-4 uppercase" />
                                        </div>
                                </div>
                        </form>
                </div>
                
                <!--End mc_embed_signup-->
        </div>
</div>