
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

<!-- Your embedded video player code -->
<div class="fb-video w-full mx-auto" data-href="https://www.facebook.com/facebook/videos/{{ include.id }}/" data-width="320" data-show-text="false">
<div class="fb-xfbml-parse-ignore">
    <blockquote cite="https://www.facebook.com/facebook/videos/{{ include.id }}/">
    <a href="https://www.facebook.com/facebook/videos/{{ include.id }}/">How to Share With Just Friends</a>
    <p>How to share with just friends.</p>
    Posted by <a href="https://www.facebook.com/facebook/">Facebook</a> on Friday, December 5, 2014
    </blockquote>
</div>
</div>