<footer>
	<!-- <script src="{{ '/assets/js/awesome.js' | relative_url }}"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine-ie11.min.js"></script>	

	<div class="py-6 text-gray-900 bg-white">
		<div class="container flex flex-col w-full p-8 mx-auto space-y-6 text-sm text-black border-gray-700 sm:space-y-0 sm:items-center max-w-7xl md:flex-row md:justify-between">
			<span>
				{% include logo.html %}
			</span>
			<span class="sm:space-x-6">
				{% assign pages_list = site.pages | sort:"url" %} {% for node in pages_list %} {% if node.title != null %} {% if node.layout == "page" %}
				<a class="{% if page.url == node.url %} text-yellow-500 {% endif %} text-gray-300 hover:text-yellow-500 text-sm font-medium" href="{{ node.url }}"> {{ node.title }} </a>
				<a class="text-sm font-medium text-gray-300 hover:text-yellow-500" href="mailto:{{ site.email | encode_email }}">Contacto</a>
				{% endif %} {% endif %} {% endfor %}
			</span>
			{% include icons.html %}
		</div>
		<div class="container w-full p-8 mx-auto text-sm text-black border-gray-300 sm:flex max-w-7xl sm:flex-row sm:justify-between sm:border-solid md:border-t">
			<p class="flex sm:space-x-2">
				<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
					<path fill-rule="evenodd" d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
				</svg>
				<span> Hecho con </span>
				<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
					<path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
				</svg>
				<span> / Revisa el código en </span>
				<a class="text-yellow-500 hover:text-yellow-800" href="https://github.com/Smilesharks/smilesharks.github.io" data-unsp-sanitized="clean">Github</a>
			</p>
			<p class="flex items-center space-x-3 rss-subscribe">
				<span>Suscribete</span>
				<a href="/feed.xml">
					<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-yellow-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z" />
					</svg>
				</a>
				<span> via RSS</span>
			</p>
			<span class="tracking-wide"> Copyright © Ariel Cerda 2021 </span>
		</div>
	</div>
</footer>
