{% assign heading = include.heading %}
{% assign description = include.description %}
{% assign align = include.align %}
{% assign date = include.date %}

<div class="space-y-4 {% if align == "center" %}md:text-left mx-auto{% endif %}">
  {% if date %}
  <div class="font-medium text-gray-600">{{ date | date_to_long_string }}</div>
  {% endif %}
  <h1 class="prose text-gray-900 text-4xl font-bold md:text-4xl md:leading-tight">
    {{ heading }}
  </h1>
  {% if description %}
  <h2 class="mt-2 text-xl text-gray-600">{{ description }}</h2>
  {% endif %}
</div>