{% assign heading = include.heading %}
{% assign description = include.description %}
{% assign align = include.align %}
{% assign date = include.date %}

<div class="py-6 md:py-12 lg:w-10/12 {% if align == "center" %}md:text-center mx-auto{% endif %}">
  {% if date %}
  <div class="font-medium text-gray-700">{{ date | date_to_long_string }}</div>
  {% endif %}
  <h1 class="heading text-4xl md:text-6xl font-bold font-sans md:leading-tight">
    {{ heading }}
  </h1>
  {% if description %}
  <h2 class="text-xl text-gray-600 mt-2">{{ description }}</h2>
  {% endif %}
</div>