<div class="hidden logo md:block">
  <a class="flex items-center transition duration-300 ease-in-out hover:opacity-70" href="{{ site.baseurl }}">
    {% if site.logo.logo_desktop_image %}
    <!-- <img class="mr-2" height="{{ site.logo.logo_desktop_height }}" width="{{ site.logo.logo_desktop_width }}"
      alt="{{ site.title }} Logo" src="{{ site.logo.logo_desktop_image | relative_url }}" /> -->
            <lottie-player
            autoplay
            mode="normal"
            src="{{ 'assets/lottie/data.json' | relative_url }}"
            class="w-12 h-12 sm:w-12 sm:h-12 filter invert"
            >
            </lottie-player>
    {% endif %}
    {% if site.logo.logo_desktop_text %}
    <h2 class="text-2xl font-extrabold">{{ site.logo.logo_desktop_text }}</h2>
    {% endif %}
  </a>
</div>
<div class="block logo-mobile md:hidden">
  <a class="flex items-center transition duration-300 ease-in-out hover:opacity-70" href="{{ site.baseurl }}">
    {% if site.logo.logo_mobile_image %}
    <!-- <img height="{{ site.logo.logo_mobile_height }}" width="{{ site.logo.logo_mobile_width }}"
      alt="{{ site.title }} Logo" src="{{ site.logo.logo_mobile_image | relative_url }}" /> -->
            <lottie-player
            autoplay
            mode="normal"
            src="{{ 'assets/lottie/data.json' | relative_url }}"
            class="w-12 h-12 sm:w-12 sm:h-12 filter invert"
            >
            </lottie-player>
    {% endif %}
    {% if site.logo.logo_mobile_text %}
    <h2 class="text-2xl font-extrabold">{{ site.logo.logo_mobile_text }}</h2>
    {% endif %}
  </a>
</div>