<section class="space-y-64 " id="portfolio">
    {% for projects in site.projects %} {{ projects.content | markdownify }}
    <div class="space-y-32 ">
        <div class="grid w-full gap-12 mx-auto md:grid-cols-4 max-w-none prose-yellow">
            <div class="md:space-y-2 md:col-span-2">
                <span class="text-sm font-light text-gray-300">{{ projects.category }}</span>
                <h3 class="relative z-10 text-5xl font-bold">{{ projects.title }}</h3>
                <div class="relative z-0 w-full md:max-w-md" >
                    <div class="absolute top-0 bg-red-500 rounded-full w-36 h-36 md:w-72 md:h-72 -left-2 md:-left-4 filter blur-2xl opacity-80 animate-blob"></div>
                    <div class="absolute top-0 bg-yellow-500 rounded-full w-36 h-36 md:w-72 md:h-72 -right-2 md:-right-4 filter blur-2xl opacity-80 animate-blob animation-delay-2000"></div>
			        <div class="absolute bg-pink-500 rounded-full w-36 h-36 md:w-72 md:h-72 -bottom-8 left-10 md:left-20 filter blur-2xl opacity-80 animate-blob animation-delay-4000"></div>
                    <img class="relative md:max-w-md" src="{{ projects.featureimg | prepend: site.url }}" alt="{{ projects.title }}" title="{{ projects.title }}" />
                </div>
                <div class="pt-12 space-y-2">
                    <span class="text-sm font-light text-gray-400">Demo</span>
                    {% if projects.demolink And projects.demolink != "" And projects.demolink != nil %}

                        <a class="flex flex-row items-center space-x-4 text-yellow-500 underline hover:text-yellow-700" target="_blank" title="{{ projects.title }} demostracion" alt="Ver {{ projects.title }} demo" href="{{ projects.demolink }}">
                            <div class="">Preview</div>
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                            </svg>                                
                        </a>
                    {% else %}
                    <div class="flex flex-row items-center text-gray-400 cursor-not-allowed" alt="Demo unavailable">
                        <div class="link">Demo unavailable</div>                        
                    </div>                            
                    {% endif %}
                </div>
            </div>
            <div class="prose md:space-y-6 md:col-span-2">
                <div class="flex-1 space-y-2">
                    <span class="text-sm font-light text-gray-400">Description</span>
                    <div class="text-base">{{ projects.description }}</div>
                </div>
                <div class="md:flex md:space-x-6">
                    <div class="flex-1 space-y-2">
                        <span class="text-sm font-light text-gray-400">The problem</span>
                        <div class="m-0">{{ projects.problem }}</div>
                    </div>
                    <div class="flex-1 space-y-2">
                        <span class="text-sm font-light text-gray-400">The goal</span>
                        <div class="m-0">{{ projects.goal }}</div>
                    </div>
                </div>
                <div class="md:flex md:space-x-6">
                    <div class="flex-1 space-y-2">
                        <span class="text-sm font-light text-gray-400">Client</span>
                        <div>{{ projects.client }}</div>
                    </div>
                    <div class="flex-1 space-y-2">
                        <span class="text-sm font-light text-gray-400">Platform</span>
                        <div>{{ projects.platform }}</div>
                    </div>
                </div>
                <div class="md:flex md:space-x-6">
                    <div class="flex-1 space-y-2">
                        <span class="text-sm font-light text-gray-400">Agency</span>
                        <div>{{ projects.agency }}</div>
                    </div>
                    <div class="flex-1 space-y-2">
                        <span class="text-sm font-light text-gray-400">Role</span>
                        <div>{{ projects.role }}</div>
                    </div>
                </div>
            </div>
        </div>
            <!-- Multimedia -->
        <div class="flex flex-col space-y-12 sm:col-span-2">
            <!-- Imagenes -->
            <div class="space-y-6">
                <h6 class="text-4xl font-bold ">Previews design / Concept</h6>
                <div x-data="{}"  class="grid grid-cols-1 gap-6 md:gap-12 sm:grid-cols-4">
                    {% capture ipath %}{{ projects.folderurl }}{% endcapture %}
                    {% for image in site.static_files %}
                        {% if image.path contains ipath %}
                            <a @click="$dispatch('img-modal', {  imgModalSrc: '{{ image.path }}', imgModalDesc: '{{ projects.description }}' })" class="cursor-pointer tile">
                                <div class=" aspect-w-16 aspect-h-9" >
                                    <img alt="Placeholder" class="object-cover w-full" src="{{ image.path | remove: '/assets/img/pro' | prepend: '/assets/img/thumbs' }}">
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- Video -->
            {% if projects.videourl And projects.videourl != "" And projects.videourl != nil %}
            <div class="space-y-6">
                <h6 class="text-4xl">Video</h6>
                <div class="flex flex-col">
                    <div class="w-full mx-auto space-y-6 divide-y-4 divide-gray-100 divide-solid">
                        <video autoplay muted loop class="w-full" controls>
                            <source src="{{ projects.videourl | prepend: site.url }}" type="video/mp4" />
                            <source src="{{ projects.videourl | prepend: site.url }}" type="video/ogg" />
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section>

<!-- modal-img-modal -->
<div x-data="{ imgModal : false, imgModalSrc : '', imgModalDesc : '' }">
    <template @img-modal.window="imgModal = true; imgModalSrc = $event.detail.imgModalSrc; imgModalDesc = $event.detail.imgModalDesc;" x-if="imgModal">
        <div x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 transform scale-90" x-transition:enter-end="opacity-100 transform scale-100" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 transform scale-100" x-transition:leave-end="opacity-0 transform scale-90" x-on:click.away="imgModalSrc = ''" class="fixed inset-0 z-50 flex items-center justify-center w-full p-2 overflow-hidden bg-black bg-opacity-75 h-100">
        <div @click.away="imgModal = ''" class="flex flex-col max-w-5xl max-h-full overflow-auto">
            <div class="z-50">
            <button @click="imgModal = ''" class="float-right pt-2 pr-2 text-white outline-none focus:outline-none">
                <svg class="text-white fill-current " xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                </path>
                </svg>
            </button>
            </div>
            <div class="p-2">
            <img :alt="imgModalSrc" class="object-contain rounded-lg h-1/2-screen" :src="imgModalSrc">
            <p x-text="imgModalDesc" class="py-2 text-center text-white "></p>
            </div>
        </div>
        </div>
    </template>
</div>