
  <a class="" href="{{ post.url | relative_url }}">
    <div class="flex flex-col w-full space-y-4 group">
    {% if post.thumbnail %}
      <div class="md:w-full ">
        <img class="transition duration-500 ease-in-out transform sm:rounded-xl rounded-lg group-hover:shadow-2xl shadow-xl group-hover:-translate-y-1" alt="{{ post.title }}" src="{{ post.thumbnail | relative_url }}"/>
      </div>
    {% endif %}
      
    <div class="flex space-x-2">
      <div class="text-sm font-medium text-gray-600">{{ post.date | date_to_long_string }}</div>
      <span class="text-xs font-medium text-yellow-600">//</span>
      {% for category in post.categories %}
      <div class="text-sm font-medium text-gray-600">{{ category }}</div>
      {% endfor %}
    </div>
      <h3 class="group-hover:text-yellow-500 sm:text-xl text-lg font-semibold">{{ post.title }}</h3>
      <!-- <div class="text-base font-light text-gray-600">{{ post.description }}</div> -->
    </div>
  </a>