<div class="flex flex-col md:flex-row w-full lg:w-10/12">

  {% if post.thumbnail %}
    <div class="md:mr-4 mb-2 md:mb-0 md:w-4/12 ">
      <a class="bg-gray-100" href="{{ post.url | relative_url }}">
        <img width="640" height="360" class="rounded mb-3 hover:opacity-70 transition duration-300 ease-in-out" alt="{{ post.title }}" src="{{ post.thumbnail | relative_url }}"/></a>
    </div>
  {% endif %}

  <div class="flex-1">
    <div class="flex items-center">
      {% if post.authors %}
        <div class="flex ml-4">
          {% for author in post.authors %}
            {% include author.html
        author=author
        show_author_name=false
        %}
          {% endfor %}
        </div>
      {% endif %}
      <div class="text-sm font-medium text-gray-700">{{ post.date | date_to_long_string }}</div>
    </div>

    <a href="{{ post.url | relative_url }}" class="hover:text-green-400">
      <h2 class="text-2xl font-semibold mb-1">{{ post.title }}</h2>
    </a>

    <p class="text-base font-light text-gray-600 mb-4">{{ post.description }}</p>

    {% if post.categories %}
      <div class="mb-2">
        {% for category in post.categories %}
          {% include category-badge.html %}
        {% endfor %}
      </div>
    {% endif %}


  </div>
</div>