---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "assets/css/custom.css";
@import "assets/css/syntax/monokai";

@layer components {
  .heading {
    em,
    strong {
      @apply mb-2 text-transparent bg-clip-text bg-gradient-to-r from-yellow-400 to-red-500;

      font-weight: inherit;
      font-style: normal;
    }
  }
  .logo {
    h2 {
      strong {
        @apply mb-2 text-transparent bg-clip-text bg-gradient-to-r from-yellow-400 to-red-500;
        font-weight: inherit;
        font-style: normal;
      }
    }
  }
}
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
.dev * {
	@apply border border-red-500;
}