---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@layer components {
  .heading {
    em,
    strong {
      @apply text-transparent bg-clip-text bg-gradient-to-r from-green-400 to-blue-500 mb-2;

      font-weight: inherit;
      font-style: normal;
    }
  }
}
