---
layout: full-width
---
<!-- Hero -->
<div class="space-y-12 ">
  {% for post in site.posts limit:1 %}
  <section class="bg-black pt-20 pb-48">
    <div class="container mx-auto">
      <div class="flex flex-col items-center w-full text-white group md:space-x-6 md:flex-row ">
        <div data-aos-delay="100" class="relative transition duration-500 ease-in-out transform group-hover:shadow-2xl group-hover:-translate-y-2 group-hover:opacity-70 ">
          <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" title="{{ post.title }}" class="relative w-full col-span-3 rounded-lg sm:object-cover sm:h-96" />
          <div class="absolute top-0 p-5">
            {% for category in post.categories %}
              {% include category-badge.html %}
            {% endfor %}
          </div>
        </div>
        <a data-aos-delay="200" href="{{ post.url | relative_url }}">
          <div class="relative max-w-lg py-6 space-y-6 md:p-6 ">
            <div class="space-y-2">
              <div class="flex items-center"> 
                {% if post.authors %}

                    {% for author in post.authors %}
                      {% include author.html
                        author=author
                        show_author_name=false
                      %}
                    {% endfor %}

                {% endif %}
                <div class="text-sm font-medium text-gray-300">{{ post.date | date_to_long_string }}</div>
              </div>
              <div class="inline-block text-3xl font-bold sm:text-3xl">{{ post.title | strip_html | strip_newlines }}</div>
            </div>
            <div class="text-gray-300">
              <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 200 }}</p>
            </div>
            <div href="{{ post.image | prepend: site.baseurl }}" class="relative inline-flex items-center text-lg font-medium text-yellow-500 hover:text-yellow-700">
              <span class="absolute right-0 flex items-center justify-start w-10 h-10 duration-300 transform translate-x-full group-hover:translate-x-12 ease">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
              </span>
              <span class="relative">Leer Mas</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  {% endfor %}
  <div class="container px-6 mx-auto md:px-0 transform -translate-y-44 ">
      <main class="grid gap-16 py-6 md:grid-cols-3">
        {% for post in site.posts limit:6 offset:1 %}
          {% include summary.html post=post %}
        {% endfor %}
      </main>
      {% include paginator.html %}
      <div class="mb-12">
        {% include cta.html %}
      </div>
  </div>
</div>