---
layout: full-width
---




<!-- Hero -->
<h1 class="sr-only">{{ site.logo.logo_desktop_text }}</h1>
<div class="md:-space-y-24 ">


  <div class="bg-black pb-16 pt-4 md:py-12">
    <div class="container px-6 mx-auto md:px-0">
    <div class="flex flex-col -space-y-16 space-y-reverse md:space-y-0  md:justify-between mx-auto item lg:flex-row">

        <div class="flex flex-col items-center z-10 md:z-0 justify-center md:w-1/2 ">
            <div class="space-y-6">
                <div class="space-y-6 text-white max-w-md" data-aos="fade-up" data-aos-delay="200">
                    <h1 class="md:text-5xl text-3xl font-bold tracking-wide ">Me alegro de que hayas pasado por aquí.</h1>
                    <p class="text-xl font-light ">Soy diseñador desde hace mas de 8 años, actualmente vivo en Auckalnd, Nueva Zelanda y cada vez que puedo hago videos o escribo sobre mi experiencia</p>
                    <div class="flex flex-row space-x-4">
                    <a href="/blog" class="relative group">
                        <div class="absolute inset-0 group-hover:-inset-4  bg-gradient-to-r from-blue-500 to-green-500 filter blur-xl opacity-40 "></div>
                        <span class="relative inline-flex items-center px-8 py-4 space-x-1 text-white group-hover:text-yellow-500 transition duration-500 border border-gray-800 rounded-xl shadow-xl hover:shadow bg-black ">Artículos</span>
                    </a>
                    <a href="/about" class="inline-flex items-center px-3 py-2 space-x-1 text-white z-10 group-hover:text-yellow-500 bg-black transition duration-500 border border-gray-800 group-hover:border-white group-hover:border-2 rounded-xl shadow-xl hover:shadow ">
                        <span>Acerca de mí</span>
                    </a>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="relative items-end justify-center order-first md:order-last md:flex md:w-1/2 ">
            <svg data-aos="fade-right" data-aos-delay="200" class="absolute hidden md:block text-gray-800 inset-0 object-cover "viewBox="0 0 452 341" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3" d="M415.982 38.4336H378.249V76.1668H415.982V38.4336Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M415.982 189.367H378.249V227.1H415.982V189.367Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M453.715 189.367H415.982V227.1H453.715V189.367Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M189.583 189.367H151.849V227.1H189.583V189.367Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M302.782 38.4336H265.049V76.1668H302.782V38.4336Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M302.782 189.367H265.049V227.1H302.782V189.367Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M415.982 113.9H378.249V151.633H415.982V113.9Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M189.583 113.9H151.849V151.633H189.583V113.9Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M302.782 113.9H265.049V151.633H302.782V113.9Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M302.782 264.833H265.049V302.566H302.782V264.833Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M415.982 76.1667H378.249V113.9H415.982V76.1667Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M453.715 76.1667H415.982V113.9H453.715V76.1667Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M415.982 227.1H378.249V264.833H415.982V227.1Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M189.583 227.1H151.849V264.833H189.583V227.1Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M302.782 76.1667H265.049V113.9H302.782V76.1667Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M302.782 227.1H265.049V264.833H302.782V227.1Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M189.583 151.633H151.849V189.367H189.583V151.633Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M454.096 302.566H416.363V340.3H454.096V302.566Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M302.782 151.633H265.049V189.367H302.782V151.633Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M302.782 302.566H265.049V340.3H302.782V302.566Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M76.3828 302.566H38.6496V340.3H76.3828V302.566Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M378.249 189.367H340.516V227.1H378.249V189.367Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M151.849 189.367H114.116V227.1H151.849V189.367Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M38.6494 38.4336H0.916165V76.1668H38.6494V38.4336Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M265.049 189.367H227.316V227.1H265.049V189.367Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M378.249 113.9H340.516V151.633H378.249V113.9Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M151.849 113.9H114.116V151.633H151.849V113.9Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M265.049 113.9H227.316V151.633H265.049V113.9Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M265.049 264.833H227.316V302.566H265.049V264.833Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M38.6494 264.833H0.916165V302.566H38.6494V264.833Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M378.249 227.1H340.516V264.833H378.249V227.1Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M151.849 227.1H114.116V264.833H151.849V227.1Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M265.049 227.1H227.316V264.833H265.049V227.1Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M378.249 151.633H340.516V189.367H378.249V151.633Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M151.849 151.633H114.116V189.367H151.849V151.633Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M265.049 151.633H227.316V189.367H265.049V151.633Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M265.049 302.566H227.316V340.3H265.049V302.566Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M340.516 0.700317H302.782V38.4336H340.516V0.700317Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M340.516 189.367H302.782V227.1H340.516V189.367Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M114.116 189.367H76.3827V227.1H114.116V189.367Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M227.316 189.367H189.582V227.1H227.316V189.367Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M340.516 113.9H302.782V151.633H340.516V113.9Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M340.516 264.833H302.782V302.566H340.516V264.833Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M114.116 264.833H76.3827V302.566H114.116V264.833Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M227.316 113.9H189.582V151.633H227.316V113.9Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M227.316 264.833H189.582V302.566H227.316V264.833Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M340.516 76.1667H302.782V113.9H340.516V76.1667Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M340.516 227.1H302.782V264.833H340.516V227.1Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M227.316 76.1667H189.582V113.9H227.316V76.1667Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M227.316 227.1H189.582V264.833H227.316V227.1Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M340.516 151.633H302.782V189.367H340.516V151.633Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
                <path opacity="0.3" d="M227.316 151.633H189.582V189.367H227.316V151.633Z" stroke="currentColor" stroke-dasharray="0.76 1.91"/>
            </svg>
    
            <div data-aos="fade-left" class="relative flex max-w-lg ">
                <div class="absolute  bg-gradient-to-r from-yellow-500 to-pink-500 mx-8 md:mx-28 md:my-24 my-12 transform animate-blob -translate-y-12 rotate-6 opacity-50 filter blur-3xl rounded-full inset-0"></div>
                <img src="../assets/img/profilepic.png" class="relative filter grayscale md:mt-12 backdrop-contrast-75 inset-0 object-cover " />
            </div>
        </div>
    </div>
    </div>
    </div>


  <div class="container space-y-8 mx-auto">
    <main class="grid mx-4 sm:mx-0 gap-8 md:gap-16 py-6 md:py-6 md:grid-cols-4">
      <div class="group md:flex">
        <a href="/blog" class="flex items-center align-middle transition duration-500 ease-in-out transform sm:rounded-xl rounded-lg group-hover:shadow-2xl md:shadow-xl group-hover:-translate-y-1 border border-gray-300 bg-white text-black ">
          <div class="flex flex-col md:space-y-4 space-y-2 mx-auto py-2 md:p-12 ">
          <h3 class="text-2xl font-bold ">Revisa mis ultimos posts</h3>
          <div class="flex space-x-2 text-yellow-500 group-hover:text-red-500 items-center" >
            <span class=" transition transform duration-200 ease-in-out no-underline  group-hover:underline">o visita el blog</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mt-1 transition duration-200 transform ease-in-out group-hover:translate-x-2" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
          </div>
          </div>
        </a>
      </div>
        {% for post in site.posts limit:3  %}
          {% include summary.html post=post %}
        {% endfor %}
      </main>

      <section class=" text-black ">
        <div class="container space-y-24 pb-8 max-w-screen-xl px-4 mx-auto">
        <div class="text-center space-y-4">
            <h6 class="text-4xl font-bold ">Otros proyectos</h6>
        </div>
        <div class="grid grid-cols-2 gap-6 sm:grid-cols-4">
          {% for minipro in site.minipro %} {{ minipro.content | markdownify }}
          <a class="space-y-8 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-105" href="{{ minipro.link }}">
            <div class="relative transition duration-500 ease-in-out shadow-xl hover:shadow-sm">
              <img class="border border-yellow-500 rounded-lg" src="{{ minipro.img | prepend: site.baseurl }}" alt="{{ minipro.title }}" title="{{ minipro.title }}" />
            </div>
            <h2 class="text-sm text-yellow-500">{{ minipro.tag }}</h2>
          </a>
          {% endfor %}
        </div>
      </div>
      </section>

      {% include cta.html %}

  </div>
</div>