---
layout: default
---

{% include heading.html heading=page.title description=page.description align="center" date=page.date %}

<div class="mb-16">
  <img src="{{ page.image }}"/>
</div>

<div class="flex">

  <div class="w-3/12">

    {% if page.categories %}
      <div class="mb-16">
        {% for category in page.categories %}
          <a class="p-1 px-3 mr-1 mb-1 inline-block text-xs font-mono rounded bg-green-200 text-green-800 hover:bg-blue-200 hover:text-blue-800" href="{{ "/category/" | relative_url }}{{ category | slugify }}">{{ category }}</a>
        {% endfor %}
      </div>
    {% endif %}


    {% if page.authors %}
      <div class="flex flex-col">
        {% for author in page.authors %}
          {% include author-large.html
          author=author
        %}
        {% endfor %}
      </div>
    {% endif %}


  </div>

  <div class="w-9/12">
    <div class="prose">
      {{ content }}
    </div>
  </div>
</div>